.img {
  width: 28px;
  height: 23px;
  margin-top: 1rem;

  
}
.svg {
  width: 25px;
  height: 23px;
}
.block {
  display: flex;
  gap: 20px;
    padding-top: 20px;
  align-self: center;
}
.p {
  font-size: 18px;
  font-weight: 500;
}
.w-25 {
    
}
