.img {
  width: 28px;
  height: 23px;
  margin-top: 1rem;

  
}
.svg {
  width: 25px;
  height: 23px;
}
.block {
  display: flex;
  gap: 20px;
  padding: 12px 0px 12px 0px;
  
}
.p {
  font-size: 18px;
  font-weight: 500;
}
.side {
  height: 100%;
  width: 259px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
    
}
.tw{
  width: 56px;
  height: 52px;
}
