.home {
  margin: 0;
  padding-top: 1rem;
  width: 37.5rem;
  height: 53px;
  font-size: 20px;
  font-weight: 650;
  padding-left: 16px;

  display: flex;
  align-items: center;
}
.content{
    width: 501px;
}
.img2 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-top: 4px;
}

.input {
  border: none;
  font-size: 18px;
  display: flex;
  outline: none;
}
.botDetails{
    
    display: flex ;
    align-items: center;
    gap: 12px;
    
}
.iconM{
    width: 19px;
    height: 19px;
   
}
.botM{
    display: flex;
    gap: 100px;
}
.bottomMenu {
  display: flex;
  gap: 4px;
  padding-left: 76px;
}
.bottomMenu svg {
  width: 20px;
  height: 20px;
  color: rgb(29, 155, 240);
}

.authorname {
  font-family: inherit;
  font-weight: 700;
  font-size: 15px;
}
.midC{
  
   margin-left: 10px;
}
.username {
  font-size: 15px;

  font-weight: 400;

  color: rgb(83, 100, 113);
}

.bottomMenu button {
  border-radius: 20px;
  border: none;
  background-color: rgb(29, 155, 240);
  padding: 9px 15px 9px 15;
  font-size: 15px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 300px;
}

.newt {
  width: 100%;

  border-bottom: 1px solid whitesmoke;
  border-top: 1px solid whitesmoke;
  padding-bottom: 10px;
}
.placeHolder {
  display: flex;
  gap: 13px;
  padding: 0px 16px 0px 16px;
}
